[
  {hello_server, []},

  {opentelemetry,
    [{processors,
      [{otel_batch_processor,
        #{exporter => {opentelemetry_exporter, #{endpoints =>
          ["http://otel-collector:4318"],
          headers => [{"header_key", "header_value"}]}
        }}
      }]
    },
      {resource,
        [{service,
          #{name => "hello-server", version => "1.1.1"}
        }]
      },
      {resource_detectors, [
        otel_resource_env_var,
        otel_resource_app_env,
        extra_metadata
      ]}
    ]  
  }

].
