[
  {hello_server, []},

  {opentelemetry,
    [{processors,
      [{otel_batch_processor,
        #{exporter => {opentelemetry_exporter, #{endpoints =>
          ["http://otel-collector:4318"],
          headers => [{"header_key", "header_value"}]}
        }}
      }]
    },
      {resource,
        [{service,
          #{name => "hello-server", version => "1.2.3"}
        }]
      }]
  }

].
